@import '../components/buttons';

.sec-1{
    width: 100%;
    height: 40vh;

    background-image:linear-gradient(rgba(245, 246, 252, 0.52)), url(http://html.commonsupport.xyz/2019/Barnet/images/background/3.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &__title{
        color: black;
        position: absolute;
        top:30%;
        left: 19%;

        a{
            color: black;

            &:hover{
                color: #3648b2;
            }
        }
    }
}

.sec-2{
    padding: 100px 0;

    

    .sec-2__left{


        &-photo{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .sec-2__right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}