* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.col-1 {
  width: calc(100% - (11/12 * 100%));
}

.col-2 {
  width: calc(100% - (10/12 * 100%));
}

.col-3 {
  width: calc(100% - (9/12 * 100%));
}

.col-4 {
  width: calc(100% - (8/12 * 100%));
}

.col-5 {
  width: calc(100% - (7/12 * 100%));
}

.col-6 {
  width: calc(100% - (6/12 * 100%));
}

.col-7 {
  width: calc(100% - (5/12 * 100%));
}

.col-8 {
  width: calc(100% - (4/12 * 100%));
}

.col-9 {
  width: calc(100% - (3/12 * 100%));
}

.col-10 {
  width: calc(100% - (2/12 * 100%));
}

.col-11 {
  width: calc(100% - (1/12 * 100%));
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
}

[class*="col-"]::after {
  clear: both;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-fluid {
  width: 100%;
}

.clear-fix {
  clear: both;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .col-lg-1 {
    width: calc(100% - (11/12 * 100%));
  }
  .col-lg-2 {
    width: calc(100% - (10/12 * 100%));
  }
  .col-lg-3 {
    width: calc(100% - (9/12 * 100%));
  }
  .col-lg-4 {
    width: calc(100% - (8/12 * 100%));
  }
  .col-lg-5 {
    width: calc(100% - (7/12 * 100%));
  }
  .col-lg-6 {
    width: calc(100% - (6/12 * 100%));
  }
  .col-lg-7 {
    width: calc(100% - (5/12 * 100%));
  }
  .col-lg-8 {
    width: calc(100% - (4/12 * 100%));
  }
  .col-lg-9 {
    width: calc(100% - (3/12 * 100%));
  }
  .col-lg-10 {
    width: calc(100% - (2/12 * 100%));
  }
  .col-lg-11 {
    width: calc(100% - (1/12 * 100%));
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .col-md-1 {
    width: calc(100% - (11/12 * 100%));
  }
  .col-md-2 {
    width: calc(100% - (10/12 * 100%));
  }
  .col-md-3 {
    width: calc(100% - (9/12 * 100%));
  }
  .col-md-4 {
    width: calc(100% - (8/12 * 100%));
  }
  .col-md-5 {
    width: calc(100% - (7/12 * 100%));
  }
  .col-md-6 {
    width: calc(100% - (6/12 * 100%));
  }
  .col-md-7 {
    width: calc(100% - (5/12 * 100%));
  }
  .col-md-8 {
    width: calc(100% - (4/12 * 100%));
  }
  .col-md-9 {
    width: calc(100% - (3/12 * 100%));
  }
  .col-md-10 {
    width: calc(100% - (2/12 * 100%));
  }
  .col-md-11 {
    width: calc(100% - (1/12 * 100%));
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-s-1 {
    width: calc(100% - (11/12 * 100%));
  }
  .col-s-2 {
    width: calc(100% - (10/12 * 100%));
  }
  .col-s-3 {
    width: calc(100% - (9/12 * 100%));
  }
  .col-s-4 {
    width: calc(100% - (8/12 * 100%));
  }
  .col-s-5 {
    width: calc(100% - (7/12 * 100%));
  }
  .col-s-6 {
    width: calc(100% - (6/12 * 100%));
  }
  .col-s-7 {
    width: calc(100% - (5/12 * 100%));
  }
  .col-s-8 {
    width: calc(100% - (4/12 * 100%));
  }
  .col-s-9 {
    width: calc(100% - (3/12 * 100%));
  }
  .col-s-10 {
    width: calc(100% - (2/12 * 100%));
  }
  .col-s-11 {
    width: calc(100% - (1/12 * 100%));
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    width: calc(100% - (11/12 * 100%));
  }
  .col-xs-2 {
    width: calc(100% - (10/12 * 100%));
  }
  .col-xs-3 {
    width: calc(100% - (9/12 * 100%));
  }
  .col-xs-4 {
    width: calc(100% - (8/12 * 100%));
  }
  .col-xs-5 {
    width: calc(100% - (7/12 * 100%));
  }
  .col-xs-6 {
    width: calc(100% - (6/12 * 100%));
  }
  .col-xs-7 {
    width: calc(100% - (5/12 * 100%));
  }
  .col-xs-8 {
    width: calc(100% - (4/12 * 100%));
  }
  .col-xs-9 {
    width: calc(100% - (3/12 * 100%));
  }
  .col-xs-10 {
    width: calc(100% - (2/12 * 100%));
  }
  .col-xs-11 {
    width: calc(100% - (1/12 * 100%));
  }
  .col-xs-12 {
    width: 100%;
  }
}

header {
  font-family: "font-family: " Mulish ", sans-serif";
}

header .header-top {
  width: 100%;
  background-color: #3648b2;
  padding: 11px 0;
}

header .header-top .header-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .header-top .header-top__social a:hover {
  color: #3648b2;
}

header .header-top .header-top__social a i {
  margin: 0 10px;
  color: white;
}

header .header-top .header-top__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

header .header-top .header-top__contact i {
  color: red;
}

header .header-top .header-top__contact .header-phone {
  margin: 0 15px 0 0;
}

header .header-bottom .navbar {
  padding: 30px 0;
}

header .header-bottom .navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

header .header-bottom .navbar .navbar-nav li {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.55);
}

header .header-bottom .navbar .search-button {
  padding: 5px 50px;
  border-radius: 15px;
  background-color: red;
  color: white;
  border: none;
}

header .header-bottom .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-2 .sec-2__left-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0 10px;
}

.sec-2 .sec-2__left-button button {
  margin-top: 20px;
  padding: 15px 85px;
  border: none;
  border-radius: 15px;
}

.sec-2 .sec-2__right button {
  padding: 15px 85px;
  border: none;
  border-radius: 15px;
}

.sec-1 {
  width: 100%;
  height: 40vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 246, 252, 0.52))), url(http://html.commonsupport.xyz/2019/Barnet/images/background/3.jpg);
  background-image: linear-gradient(rgba(245, 246, 252, 0.52)), url(http://html.commonsupport.xyz/2019/Barnet/images/background/3.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-1__title {
  color: black;
  position: absolute;
  top: 30%;
  left: 19%;
}

.sec-1__title a {
  color: black;
}

.sec-1__title a:hover {
  color: #3648b2;
}

.sec-2 {
  padding: 100px 0;
}

.sec-2 .sec-2__left-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-2 .sec-2__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec-2 .sec-2__left-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0 10px;
}

.sec-2 .sec-2__left-button button {
  margin-top: 20px;
  padding: 15px 85px;
  border: none;
  border-radius: 15px;
}

.sec-2 .sec-2__right button {
  padding: 15px 85px;
  border: none;
  border-radius: 15px;
}
/*# sourceMappingURL=main.css.map */